{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/choices.min.css' %}">
<script src="{% static 'js/choices.min.js' %}"></script>

<!-- Existing Form -->
<div class="flex items-center mt-4 justify-center">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-96">
        <form id="attendanceForm" class="space-y-4" method="POST">
            <h2 class="font-bold text-xl flex justify-center items-center">Attendance</h2>
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="name" class="block mb-2 text-base text-white">Name / नाम:<span class="text-red-500">*</span></label>
                <select id="name" name="name" class="choices w-full px-3 py-2 bg-gray-700 text-white rounded border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">
                    <option value="">Select Name</option>
                </select>
            </div>
            
            <div class="flex flex-col">
                <label for="date" class="mb-1 text-base">Date / दिनांक:<span class="text-red-500">*</span></label>
                <input type="date" id="date" name="date" class="p-2 rounded border border-gray-400 bg-gray-700 text-white light:bg-gray-300 light:text-black focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" required>
            </div>

            <!-- In Time -->
            <div class="mb-4 flex flex-col">
                <label for="in-time" class="block mb-2 text-base text-white">In Time / आने का समय:<span class="text-red-500">*</span></label>
                <input type="time" name="in-time" step="60" id="in-time" required class="w-full px-3 py-2 bg-gray-700 text-white rounded border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">
            </div>

            <!-- Out Time -->
            <div class="mb-4 flex flex-col">
                <label for="out-time" class="block mb-2 text-base text-white">Out Time / जाने का समय:<span class="text-red-500">*</span></label>
                <input type="time" name="out-time" step="60" id="out-time" required class="w-full px-3 py-2 bg-gray-700 text-white rounded border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent">
            </div>

            <div class="flex justify-items-stretch">
                <button type="reset" class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-6 rounded-md focus:outline-none focus:ring focus:ring-red-500">
                    Clear
                </button>
                <button type="submit" onclick="submitForm()" class="w-full ml-4 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-md focus:outline-none focus:ring focus:ring-green-500">
                    ADD
                </button>
            </div>
        </form>
    </div>    
</div>

<script>
    submitForm = () => {
        document.getElementById('attendanceForm').submit();
        window.refresh();
    }

    const EmployeesNames = JSON.parse('{{ employees|escapejs|safe }}');

    // Populate the client names dropdown
    const nameSelect = document.getElementById('name');
    EmployeesNames.forEach(name => {
        const option = document.createElement('option');
        option.value = name;
        option.textContent = name;
        nameSelect.appendChild(option);
    });

</script>


{% endblock %}
