{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/choices.min.css' %}">
<script src="{% static 'js/choices.min.js' %}"></script>

<style>
    .toggle-btn {
        width: 100%;
        /* Make the button take full width of the container */
        padding: 8px 0;
        /* Adjust padding for top and bottom to keep height consistent */
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 4px;
        /* Space between buttons */
    }

    .toggle-btn.active {
        background-color: rgb(0, 174, 255);
        ;
        color: white;
        border-color: rgb(0, 174, 255);
    }

    .radio-button {
        @apply appearance-none absolute opacity-0 cursor-pointer;
        height: 16px;
        width: 16px;
    }

    .radio-button+.radio-button-label {
        @apply cursor-pointer relative w-6 h-6 rounded-full border-2 border-gray-300 bg-white transition-colors duration-200 ease-in-out;
        padding: 3px;
        /* Adjust the padding as needed */
    }

    .radio-button:checked+.radio-button-label {
        @apply bg-blue-500 border-blue-500 cursor-pointer;
    }
</style>


<div class="flex items-center mt-4 justify-center">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-96">
        <div class="flex justify-center mb-6">
            <button id="credit-btn"
                class="toggle-btn rounded-lg  font-semibold text-neutal-600 border-2 mr-2 border-zinc-500 hover:bg-zinc-600  text-lg active">Credit</button>
            <button id="debit-btn"
                class="toggle-btn rounded-lg font-semibold text-neutal-600 border-2 border-zinc-500 hover:bg-zinc-600  text-lg">Debit</button>
        </div>

        <!-- Credit Form -->
        <form id="credit-form" class="space-y-4" method="POST">
            {% csrf_token %}
            <input type="hidden" name="type" value="credit">
            <h2 class="font-bold text-xl flex justify-center items-center">Credit Form</h2>
            <div class="flex flex-col">
                <!-- <label for="client_name" class="block mb-2 text-base text-white">Client Name / ग्राहक का नाम:<span class="text-red-500">*</span></label>
                <select id="client_name" name="client_name" class="choices w-full px-3 py-2 bg-gray-700 text-white rounded border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" required>
                    <option value="" >Select Name</option>
                </select> -->

                <label for="name" class="mb-1 text-base dark:text-white">Client Name / ग्राहक का नाम:<span
                        class="text-red-500">*</span></label>
                <select id="name" name="name"
                    class="choices p-2 rounded border border-gray-400 bg-gray-300 text-black dark:bg-gray-700 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                    required>
                    <option value="">Select Name</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="amount" class="mb-1 text-base text-white">Amount / राशि (Rs):<span
                        class="text-red-500">*</span></label>
                <input type="number" id="amount" name="amount" required autocomplete="off" placeholder="Enter Amount"
                    class="p-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md" />
            </div>
            <div class="flex flex-col">
                <label for="payment_type" class="mb-1 text-base text-white">Payment Type / भुगतान का प्रकार:<span
                        class="text-red-500">*</span></label>
                <input type="text" id="payment_type" name="payment_type" required autocomplete="off"
                    placeholder="Online / Cash / UPI / etc"
                    class="p-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md">
            </div>
            <div class="flex flex-col">
                <label for="description" class="mb-1 text-base text-white">Description / विवरण:</label>
                <textarea type="text" id="description" name="description" placeholder="Enter Description"
                    class="px-2 py-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md theme-toggle"></textarea>
            </div>
            <div class="flex justify-items-stretch">
                <button type="reset"
                    class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-6 rounded-md focus:outline-none focus:ring focus:ring-red-500">
                    Clear
                </button>
                <button type="submit"
                    class="w-full ml-4 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-md focus:outline-none focus:ring focus:ring-green-500">
                    ADD
                </button>
            </div>
        </form>

        <!-- Debit Form -->
        <form id="debit-form" class="space-y-4 hidden" method="POST">
            <h2 class="font-bold text-xl flex justify-center items-center">Debit Form</h2>
            {% csrf_token %}
            <input type="hidden" name="type" value="debit">
            <div class="flex flex-col">
                <label for="debit_type" class="mb-1 text-base text-white">Debit Type / डेबिट प्रकार:<span
                        class="text-red-500">*</span></label>
                <div class="flex flex-col space-y-2 text-lg">
                    <label class="text-white cursor-pointer">
                        <input type="radio" name="debit_type" value="diesel" class="mr-2 radio-button cursor-pointer">
                        Diesel
                    </label>
                    <label class="text-white cursor-pointer">
                        <input type="radio" name="debit_type" value="salary" class="mr-2 radio-button cursor-pointer">
                        Salary
                    </label>
                    <label class="text-white cursor-pointer">
                        <input type="radio" name="debit_type" value="maintenance"
                            class="mr-2 radio-button cursor-pointer">
                        Maintenance
                    </label>
                    <label class="text-white cursor-pointer">
                        <input type="radio" name="debit_type" value="other" class="mr-2 radio-button cursor-pointer">
                        Other
                    </label>
                </div>
            </div>

            <!-- This container will be toggled -->
            <div id="transaction-container" class="flex flex-col" style="display: none;">
                <label for="diesel_quantity" class="mb-1 text-base text-white">Quantity / मात्रा:<span
                        class="text-red-500">*</span></label>
                <input type="number" id="diesel_quantity" name="diesel_quantity" required autocomplete="off"
                    placeholder="Enter Quantity"
                    class="px-4 py-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md">
            </div>

            <div class="flex flex-col">
                <label for="debit_amount" class="mb-1 text-base text-white">Amount / राशि (Rs):<span
                        class="text-red-500">*</span></label>
                <input type="number" id="debit_amount" name="amount" required autocomplete="off"
                    placeholder="Enter Amount"
                    class="p-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md">
            </div>
            <div class="flex flex-col">
                <label for="payment_type" class="mb-1 text-base text-white">Payment type / भुगतान का प्रकार:<span
                        class="text-red-500">*</span></label>
                <input type="text" id="payment_type" name="payment_type" required autocomplete="off"
                    placeholder="Online / Cash / UPI / etc"
                    class="p-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md">
            </div>
            <div class="flex flex-col">
                <label for="debit_description" class="mb-1 text-base text-white">Description / विवरण:</label>
                <textarea type="text" id="description" name="description" placeholder="Enter Description"
                    class="px-2 py-2 bg-gray-700 text-white rounded-r border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent rounded-md theme-toggle"></textarea>
            </div>

            <div class="flex justify-items-stretch">
                <button type="reset"
                    class="w-full bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-6 rounded-md focus:outline-none focus:ring focus:ring-red-500">
                    Clear
                </button>
                <button type="submit" onclick="submitFormDebit()"
                    class="w-full ml-4 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-md focus:outline-none focus:ring focus:ring-green-500">
                    ADD
                </button>
            </div>
        </form>

    </div>
</div>

<script>
    submitFormCredit = () => {
        document.getElementById('credit-form').submit();
    }
    submitFormDebit = () => {
        document.getElementById('debit-form').submit();
    }
    document.addEventListener('DOMContentLoaded', function () {
        const creditBtn = document.getElementById('credit-btn');
        const debitBtn = document.getElementById('debit-btn');
        const creditForm = document.getElementById('credit-form');
        const debitForm = document.getElementById('debit-form');

        // Set initial active button and form visibility
        creditForm.classList.remove('hidden'); // Show Credit form by default
        debitForm.classList.add('hidden'); // Hide Debit form

        // Add event listeners to buttons
        creditBtn.addEventListener('click', function () {
            // Show Credit form, hide Debit form
            creditForm.classList.remove('hidden');
            debitForm.classList.add('hidden');

            // Add active class to Credit button and remove from Debit
            creditBtn.classList.add('active');
            debitBtn.classList.remove('active');
        });

        debitBtn.addEventListener('click', function () {
            // Show Debit form, hide Credit form
            debitForm.classList.remove('hidden');
            creditForm.classList.add('hidden');

            // Add active class to Debit button and remove from Credit
            debitBtn.classList.add('active');
            creditBtn.classList.remove('active');
        });
    });

    // Get all radio buttons with the name 'debit_type'
    const debitTypeRadios = document.querySelectorAll('input[name="debit_type"]');
    const transactionContainer = document.getElementById('transaction-container');

    // Add event listeners to each radio button
    debitTypeRadios.forEach(radio => {
        radio.addEventListener('change', function () {
            if (this.value === 'diesel') {
                transactionContainer.style.display = 'block'; // Show the transaction input field
            } else {
                transactionContainer.style.display = 'none';  // Hide the transaction input field
            }
        });
    });


</script>

{% endblock %}