{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <style>
        .active {
            background-color: #1d4ed8; /* Change this color to match your design */
            color: white;
        }
    </style>
</head>

<body>

<nav class="sidebar fixed h-full w-48 bg-gray-900 text-white">
    <div class="flex justify-center items-center p-4 text-3xl font-semibold mb-4">
        Reports
    </div>
    <ul>
        <li><a href="{% url 'sales_report' %}" class="{% if request.path == '/reports/sales_report/' %}active{% endif %} block px-4 py-2 text-xl">Sales</a></li>
        <li><a href="{% url 'vehicles_report' %}" class="{% if request.path == '/reports/vehicles_report/' %}active{% endif %} block px-4 py-2 text-xl">Vehicle</a></li>
        <li><a href="{% url 'payments_report' %}" class="{% if request.path == '/reports/payments_report/' %}active{% endif %} block px-4 py-2 text-xl">Credit/Debit</a></li>
        <li><a href="{% url 'clients_report' %}" class="{% if request.path == '/reports/clients_report/' %}active{% endif %} block px-4 py-2 text-xl">Clients</a></li>
        <li><a href="{% url 'employees_report' %}" class="{% if request.path == '/reports/employees_report/' %}active{% endif %} block px-4 py-2 text-xl">Employee</a></li>
        <li><a href="{% url 'attendence_report' %}" class="{% if request.path == '/reports/attendence_report/' %}active{% endif %} block px-4 py-2 text-xl">Attendance</a></li>
        <li><a href="{% url 'sales' %}" class="block px-4 py-2 text-xl">--Back</a></li>
    </ul>
</nav>

<main class="p-4 ml-48"> <!-- Adjust main content to account for sidebar width -->
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
